@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  max-width: auto;
  
}

:root {
  --background: #f1f1f1;
  --background-sec: #bfbfbf;
  --dark-gary:#333;
  --light-brown:#c7a17a;
  --black:#1f2226;
  
}
body{
    font-family: "Open Sans", sans-serif;
    
}
header{
  background-color:white;
}
h1,h2,h3{
  font-family: "Oswald", sans-serif;
}
 li{
  list-style: none;
  
}
a{
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
nav ul li a{ 
  text-decoration: none;
  color: var(--dark-gary);
  font-size: 16px;
  transition: all 0.3s ease;
}
a:hover{
  color: var(--light-brown);
}
nav{
  display: flex;
  justify-content: space-between;
}
.logo{
 max-width: 240px;
 padding-left: 50px;

}
ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 15px;
  margin-right: 80px;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 20px;
  z-index: 1000;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-gary);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#Home{
      
  background: url(./imgs/home-bg.png) center no-repeat;
  background-size: 100%;
  background-color: var(--background);
}
.homeImg{
  max-width: 300px;
}
.homeContent{
  max-width: 1200px;
 height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  padding-top: 3%;
  padding-left: 10%;
}
.homeTextH1{
  padding-right: 51%;
}
.textAboutH1{
  padding-right: 48%;
}
.homeText button{
  background-color: var(--light-brown);
  color: white;
  border: 3px solid var(--light-brown);
  border-radius: 15px;
  max-width: 150px;
  height: 35px;
  margin-top: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.homeText button:hover{
  background-color: var(--dark-gary);
  border: 3px solid var(--dark-gary);
}
.homeText h3{
  font-size: 25px;
  
}
.homeText h1{
  font-size: 50px;
}
.homeText h1 span{
  font-size: 50px;
  color: var(--light-brown);
}
.aboutImg{
   max-width: 320px;
}
.AboutCon{
  display: grid;
  grid-template-columns: 40% 60%;
  
}
#about{
  height: auto;
  padding: 12px;
}
.AboutCon h1 span{
  color: var(--light-brown);
}
.AboutCon h3{
  font-size: 24px;
}
#menu{
  background-color: var(--background);
}
.headerOfTheMenu{
   text-align: center;
   padding-top:25px ;
}
.headerOfTheMenu span{
  color: var(--light-brown);
  font-size: 18px;
  
}
.MenuItemsChildren img{
  max-width: 100px;
}
.MenuItemsChildren h4{
  color: var(--light-brown);
}


.MenuItemsCon {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* space between items */
    padding: 20px;
}

.MenuItemsChild {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}
.MenuItemsChild:hover{
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.343);
}
.MenuItemsChildren img {
    max-width: 100px;
    margin-bottom: 10px;
}
/* testim start */
.TestimCon{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.TestimChild{
  background-color: var(--background);
  max-width: 350px;
  height:auto;
  border-radius: 16px;
   padding-left: 10px;
   transition: all 0.3s ease;
}
.TestimChild:hover{
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.343);

}
.TestimChild img {
  max-width: 100px;
  border-radius: 50%;
 margin-left: 75px;
object-fit: cover;
border: 5px solid #fff;
background-color: #f1f1f1;
padding: 12px;
}
.TestimChild h2{
  text-align: center;
}
#test h1{
  text-align: center;
}
.TestH1{
  text-align: center;
}
/* testim end */
/* conatct start */
#contact p{
  color: var(--light-brown);
  text-align: center;
  font-size: 18px;
}
#contact{
  background-color: var(--background);
}
#contact p,h1{
text-align: center;
}
.contactCon{
  
  display: flex;
  justify-content: center;
  gap: 100px;
}
iframe{
  max-width: 450px;
}
Form{
  background-color: white;
  max-width: 300px;
  height: 100%;
  padding: 20px;
}
input{
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus{
  border:1px solid var(--light-brown);
  outline: 1.5px solid var(--light-brown);
  
}
form button{
  margin-left: 3%;
  max-width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gary);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background-color: #c7a17a;
  border: 3px solid var(--light-brown);
}
input::placeholder{
  padding-left: 5px;
}
.formChild{
  width: 550px;
  max-width: 100%;
  height: 100%;
}
/* contact end */
/* footer start */
#upperFooter{
  background-color: var(--black);
  color: white;
  height: 250px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  padding-top: 20px;
  
}
.footerText{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footerChild2{
  padding-left: 35%;
}
.footerChild2 ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerChild2 li{
  list-style: none;
}
.footerChild3{
  padding-left: 30%;
}
.footerChild3 a{
  text-decoration: none;
  color: white;
}
.footerChild3 li{
  list-style: none;
  color: white;
  display: flex;
  cursor: pointer;
}
.footerChild3 ul{
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.footerChild2 a{
  color: white;
  transition: all 0.3s ease;
}
.footerChild2 a:hover{
  color: #c7a17a;
}
.bottomFooter{
  background-color: var(--dark-gary);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer endd */
/* Responsive Design */

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 20px;
  }
  
  nav ul {
    margin-right: 0;
    gap: 0;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  nav ul.active {
    top: 70px; /* Adjust based on header height */
  }

  .hamburger {
    display: block;
  }
  
  nav {
    align-items: center;
    padding: 10px 0;
  }
  
  .homeContent {
    grid-template-columns: 1fr;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .homeTextH1, .textAboutH1 {
    padding-right: 0;
  }
  .formChild button{
    width:80%;
    margin-left: 10%;
  }
  .bottomFooter p{
    font-size: 15px;
  }
  .homeText button {
    margin: 15px auto;
    display: block;
  }

  .homeImg {
    margin: 0 auto;
  }
  
  .AboutCon {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 20px;
  }
  
  .aboutImg {
    margin: 0 auto;
    display: block;
  }
  
  .MenuItemsCon {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  
  .TestimCon {
     flex-direction: column;
     align-items: center;
     gap: 40px;
     padding: 0 20px;
  }
  
  .contactCon {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
  }
  
  iframe {
    width: 100%;
    max-width: 100%;
  }
  
  Form {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  
  #upperFooter {
    grid-template-columns: 1fr;
    height: auto;
    padding-bottom: 20px;
    gap: 30px;
  }
  
  .footerChild2, .footerChild3 {
    padding-left: 0;
    text-align: center;
  }
  
  .footerChild2 ul,.footerChild3 ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
  
  .footerText {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    max-width: 180px;
  }
  .bottomFooter p{
    font-size: 12px;
  }
  .upperFooter{
    text-align: center;
  }
  .homeText h1 {
    font-size: 32px;
  }
  
  .homeText h1 span {
    font-size: 32px;
  }
  
  nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .logo {
    padding-left: 0;
    margin-top: 10px;
  }
  
  nav ul {
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .footerChild2 ul,.footerChild3 ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
}